* {box-sizing: border-box}
body {
	font-family: 'Roboto', sans-serif;
      background-image: url("../img/1.jpg");
	  background-size: 100vw calc( 100vh + 75px );
	  background-repeat: no-repeat;
}

.tab{
  margin-left: 100px;
  float:left;
  background-color: transparent;
  width: calc(30% - 100px );
  border: solid #e6ebe4;
  border-width: 0 1px 0 0;
}

.tab button{
  display: block;
  background-color: #fff;
  color: black;
  padding: 12px 16px;
  width: 100%;
  border: solid #e6ebe4;
  border-width: 0 0 1px 0;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover{
  background-color: #BAF4EF;
}

.tab button.active{
  background-color: #e6ebe4;
}

.tabcontent{
	background-color: #fff;
  margin-right: 100px;
  float: left;
  font-weight: 400;
  padding: 50px 50px 50px 50px;
  width: calc(70% - 100px );
  min-height: calc(100vh - 125px );
  margin-bottom: 50px;
 
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

button span {
	text-align: right;
	float: right;
	display: none;
}

.tab button.active span{
  display: block;
}



#pic{
	height: 100vh;
	background-color: transparent;
	position: relative;
}

#pic h1{
	position: absolute;
	margin: auto;
	left:0; right: 0; top: 0; bottom: 0;
	color: white;
	font-size: 60px;
	font-weight: 600;
	text-align: center;
	min-height: 70px;
	max-height: 200px;
}
#team{
		background-color: #f8f5ee;
		padding: 30px 0 80px;
}

#team h2{
	text-align: center;
	font-size: 50px;
	margin: 30px auto;
}

#team .row{
	text-align: center;
	margin: auto 50px;
}

.portfolio-item{
	width: 80%;
	margin: auto;
}

#team img{
	width: 100%;
	height: auto;

}


.portfolio-item p {
	position: absolute;
	width: 75%;
	height: 30%;
	text-align: center;
	top: 0%;
	bottom: 0; left: 0; right: 0;
	margin: auto;
	z-index: 5;
	opacity:0;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	color: #fff;
	font-size: 15px;
}

.portfolio-item:after {
	position: absolute;
	content: "";
	width: 75%;
	height: calc( 100% - 45px );
	left: 0; right: 0;
	margin: auto;
	top: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 2;
	opacity: 0;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.portfolio-item:hover:after {
	opacity: 1;
}

.portfolio-item:hover p {
	opacity: 1;
}

#team h3{
	margin: 10px auto;
	font-size: 23px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.site-navbar.navbar-dark .navbar-nav .nav-link {
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.site-navbar {
		padding: 5px 70px;
		display: block;
		text-align: center;
	}
	.navbar-brand {
		display: block;
	}
	.navbar-expand-md .navbar-collapse {
		display: block !important;
	}
	.navbar-expand-md .navbar-nav {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.site-navbar.navbar-dark .navbar-nav .nav-link {
		padding-right: 15px;
		padding-left: 15px;
	}
	.social-links a:first-child {
		margin-left: 0;
	}
	.footer-widget {
		margin-bottom: 40px;
}
}
@media only screen and (max-width: 767px) {
	.site-navbar.navbar-dark .navbar-nav .nav-link {
		padding-right: 0;
		padding-left: 0;
	}
	.social-links a:first-child {
		margin-left: 0;
	}
	
	.tab{
  margin-left: 20px;
  width: calc(30% - 20px );
}

.tabcontent{
  margin-right: 20px;
  padding: 10px 20px 10px 20px;
  width: calc(70% - 30px );
  min-height: 70vh;
 
}
.footer-widget p{
		margin-bottom: 40px;
		color: #fff !important;
	}
	
	
}

@media only screen and (max-width: 479px) {
	.site-navbar {
		padding: 15px;
	}
	
}

.site-logo{
    background-color: #000;	
}
